* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans Condensed", sans-serif;
}

.container::after,
.container-fluid::after {
  clear: both;
  content: "";
  display: table;
}

ul {
  list-style-type: none;
}

ul li {
  display: inline-block;
}

a,
a:hover {
  text-decoration: none;
}

.jumbotron {
  background-image: url("/images/jumbotron.jpg");
  padding: 200px 0;
  margin-bottom: 0;
}

header a {
  font-size: 16px;
  font-weight: bold;
  padding: 5px;
  display: inline-block;
}

header .header-up {
  background-color: #0282F9;
  color: #FFF;
  text-align: right;
}

header .header-up a {
  color: #FFF;
  font-size: 12px;
  font-weight: 600px;
  padding: 5px;
}

header .header-up li:last-child {
  margin-left: 60px;
}

header .header-navbar .header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .header-navbar .header-wrapper a {
  font-family: "Open Sans Condensed", sans-serif;
  color: #464646;
}

header .header-navbar .header-wrapper a:hover,
header .header-navbar .header-wrapper a:active {
  color: #0282F9;
}

#series {
  background-color: #1C1C1C;
  color: #FFF;
}

.cards-container {
  padding: 30px 0;
  display: flex;
  flex-wrap: wrap;
}

