* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans Condensed", sans-serif;
}

.container::after,
.container-fluid::after {
  clear: both;
  content: "";
  display: table;
}

ul {
  list-style-type: none;
}

ul li {
  display: inline-block;
}

a,
a:hover {
  text-decoration: none;
}

.header-up {
  background-color: #0282F9;
  color: #FFF;
  text-align: right;
}

.header-up a {
  color: #FFF;
  font-size: 12px;
  font-weight: 600px;
  padding: 5px;
  display: inline-block;
}

.header-up li:last-child {
  margin-left: 60px;
}

.header-navbar .header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

