#series {
    background-color: $darkBackground;
    color: #FFF;

    .section_name {
        background-color: $mainColor;
        width: 25%;
        padding: $sizeUnit *2;
        transform: translateY(-50%);
    }
}

.cards-container {
    padding: $sizeUnit * 3 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    .cardbox {
        width: calc(100% / 4);

        a {
            display: inline-block;
        }

        .card-img {

            width: 80%;
            margin: $sizeUnit * 3 0;

            img {
                width: 100%;
            }
        }
    }
}
