header {

    a {

        font-size: $sizeUnit * 1.6;
        font-weight: bold;
        padding: $sizeUnit * 0.5;
        display: inline-block;
    }

    .header-up {
        background-color: $mainColor;
        color : #FFF;
        text-align: right;

        a {
            color: #FFF;
            font-size: $sizeUnit * 1.2;
            font-weight: 600px;
            padding: $sizeUnit * 0.5;
        }

        li {

            &:last-child {
                margin-left: $sizeUnit * 6;
            }
        }
    }

    .header-navbar {
        .header-wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
            a {
                font-family: $hFont;
                color: #464646;
                &:hover, &:active {
                    color: $mainColor;
                }
            }
        }
    }

}
